@charset "UTF-8";
@font-face{font-family:"bebasneue";src:url("BebasNeue-Regular5e64.otf?12882309047327912612");src:url("BebasNeue-Regular5e64.ttf?12882309047327912612");font-weight:normal;font-style:normal;}
@font-face{font-family:"BebasNeue-Light";src:url("BebasNeue-Light5e64.otf?12882309047327912612");font-weight:300;font-style:normal;}